.fl{
  float: left;
}
.fr{
  float: right;
}
.leayer{
  margin: 0 auto;
  max-width: 1200px;
}

@font-face {
  font-family: 'iconfont';  /* Project id 2770358 */
  src: url('//at.alicdn.com/t/font_2770358_9959edauqov.woff2?t=1629954299718') format('woff2'),
       url('//at.alicdn.com/t/font_2770358_9959edauqov.woff?t=1629954299718') format('woff'),
       url('//at.alicdn.com/t/font_2770358_9959edauqov.ttf?t=1629954299718') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-display: ; */
}