.links_list{
  font-size: 14px;
  padding: 4px 10px;
  box-sizing: border-box;
  li{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    line-height: 2;
    &.title{
      font-weight: bolder;
      border-bottom: 1px solid #eee;
    }
  }
}