.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(180%) blur(8px);
  z-index: 999;
  a {
    color: #404040;
    margin-right: 20px;
  }
}
