
.note_label {
  > .list{
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    > li {
      .list {
        display: none;
      }
      &.active .list {
        display: block;
      }
    }
  }
}
.list{
  max-height: calc(100vh - 220px);
  overflow: auto;
  margin-bottom: 4px;
}
.icon-wrap{
  text-align: right;
  .icon{
    cursor: pointer;
  }
  .open{
    margin: 0 6px;
  }
}

@media (max-width: 768px) {
  .note_label{
    > .list{
      max-height: calc(100vh - 200px);
    }
  }
}